$family-sans-serif: "Roboto", sans-serif;
$family-primary: "Oxygen", sans-serif;
$family-secondary: "Roboto", sans-serif;

$radius: 10px;
$radius-large: 20px;
$radius-rounded: 50%;

$primary: #4f537e;
$link: #83b4d5;
$success: #659bb3;
$danger: #684c77;
$light: #efefef;
