<ModalBox
  title="Enregistrement"
  @modalAction="signUp"
  @modalClose="$emit('signupClose')"
>
  <form @submit.prevent="submit">
    <FormField
      title="Nom"
      type="text"
      name="name"
      icon="user"
      placeholder="nom"
      v-model="name"
    ></FormField>
    <FormField
      title="Adresse email"
      type="email"
      name="email"
      icon="user"
      placeholder="email"
      :message="message.email"
      v-model="email"
    ></FormField>
    <FormField
      title="Mot de passe"
      type="password"
      name="password"
      icon="lock"
      placeholder="mot de passe"
      :message="message.password"
      v-model="password"
    ></FormField>
    <FormField
      title="Confirmer le mot de passe"
      type="password"
      name="passwordconf"
      :message="message.passwordconf"
      icon="lock"
      placeholder="confirmer le mot de passe"
      v-model="passwordconf"
    ></FormField>
  </form>
  <div v-if="message.global" :class="status.global">
    <div class="message-body">{{ message.global }}</div>
  </div>
</ModalBox>
